<h1><%= t("note.title") %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= convert_ckeditor(note.content) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
