<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Admin </div>
  <div class="list-group list-group-flush">
    <div id="MainMenu">
      <div class="list-group panel">
        <div href="#add" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Add <i class="fa fa-caret-down float-right "></i></div>
        <div class="collapse" id="add">
          <%= link_to "Add user", "/admin/users", class:"list-group-item list-group-item-action bg-light"%>
          <%= link_to "Add subject", "/admin/subjects", class:"list-group-item list-group-item-action bg-light"%>
          <%= link_to "Add course", "/admin/courses", class:"list-group-item list-group-item-action bg-light"%>
        </div>
        <div href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4 <i class="fa fa-caret-down float-right"></i></div>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item list-group-item-action bg-light">Subitem 1</a>
          <a href="" class="list-group-item list-group-item-action bg-light">Subitem 2</a>
          <a href="" class="list-group-item list-group-item-action bg-light">Subitem 3</a>
        </div>
      </div>
    </div>
  </div>
</div>
