<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Student </div>
  <div class="list-group list-group-flush">
    <a href="/" class="list-group-item list-group-item-action bg-light">Notice</a>
    <a href="/student/places" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="/student/timetable" class="list-group-item list-group-item-action bg-light">Time table</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Check</a>
    <a href="/student/courses" class="list-group-item list-group-item-action bg-light">ĐĂNG KÝ MÔN HỌC</a>
    <a href="/student/people" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
  </div>
</div>
