<% @note.each do |note|%>
  <div class="container-fluid text-uppercase bg-primary text-light">
    <%= note.title%>
  </div>
  <div class="">
    <%= convert_ckeditor(note.content)%>
  </div>
  <div class="text-break font-italic h6"><%= t("note.created_at")%>: <%=format_date(note.created_at)%> </div>
<% end %>
