/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require simple_calendar
 */
/* @import 'bootstrap'; */
.previous_page, .next_page {
    border: 1px solid;
    padding: 0.5%;
    margin: 0 0.5% 0 0.5%;
}
.pagination a .next{
  background: lightblue;
}
.current {
  border: 1px solid;
  padding: 0.5%;
  background: lightblue !important;
}
a[rel=next], a[rel=prev] {
  border: 1px solid;
  padding: 0.5%;
}
a[rel=next]:hover, a[rel=prev]:hover{
  border: 1px solid;
  background: none;
}
